.RData
.Rhistory
*.swp
*.Rout
*~
slurm-*
.nfs*
toRsync*
fromRsync*
todo.txt
docs/
meetings/
notes/
communications/
reports/
code/scripts/*/
results/*
!results/exampleMouse
!results/exampleMouse/.gitkeep
data/*
!data/exampleMouse
!data/exampleMouse/*.ini
!data/exampleMouse/*.txt
log/*
!log/exampleMouse
!log/exampleMouse/.gitkeep
figures/*
!figures/exampleMouse
!figures/exampleMouse/.gitkeep
slurmOutputs/*
!slurmOutputs/exampleMouse
!slurmOutputs/exampleMouse/.gitkeep
