.RData
.Rhistory
*.swp
*.Rout
*~
slurm-*
.nfs*
toRsync*
fromRsync*
todo.txt
docs/source/*.bak
scripts/results/
scripts/data/*
!scripts/data/binLDStimeSeries.ini
!scripts/data/v1Shaft1_estimation.ini
!scripts/data/v1Shaft1_modelSelection.txt
scripts/log/
scripts/figures/
scripts/notes/
scripts/old/
scripts/lessons/
scripts/slurmOutputs/
